/* src/Components/CategoriesList.css */

.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category-card {
    display: flex;
    align-items: center;
}

.category-image {
    width: 100px;
    height: 100px;
}

.category-name {
    margin-left: 20px;
}

.category-anchor {
    color: white;
    text-decoration: none;
}
/* src/styles.css */


.categories-heading {
    margin-bottom: 40px;
}

.category-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* src/Components/PostsForCategory.css */

.category-posts-main {
    width: 100%;
}

.post {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.post-image {
    width: 150px;
    height: 150px;
}

.post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    width: 80%;
}

.post-price {
    white-space: nowrap;
    margin-top: 80px;
}

/* src/Components/MyNavbar.css */

.create-post-link {
    background-color: #282c34;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}

.post-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;

}

.post-location {
    font-size: 1.1rem;
}

.post-date {
    font-size: 1.1rem;
}

.create-post-link:hover {
    transform: scale(1.1);
    color: #282c34;
    background-color: white;
    border-color: #282c34 !important;
}

.post-overview-rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-heart-container {
    align-self: flex-end;
    margin-top: 15px;
}

