<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href = "@{/css/style.css}">
</head>
<body style="background-color: antiquewhite" >
<div th:replace=@"~{/fragments/header::header}"></div>
<div>Test Page</div>
<div>
    <link th:href=@"{test-template.html}">Test self redirect</link>
    <link th:href=@"{index.html}">Test Index</link>
</div>
<div>
    <a href="index.html">Test without th</a>
</div>
</body>
</html>